@s2k-white:#eaeaea;
@s2k-black:#1c1c1c;
@s2k-lightgrey:#cecece;
@s2k-grey:#313131;
@s2k-darkgrey:#393939;
@s2k-green:#89c23c;
@s2k-darkgreen:darken(@s2k-green,20%);
@s2k-red:#900;
@s2k-button-hi:#333;
@s2k-line-grey:#727272;
@s2k-line-darkgrey:#292929;
@s2k-box-grey:rgba(31,31,31,.7);

// transition -----------------------------------------------------------------

.s2k-transition-all(@val:none) {
	@style:all @val ease-out;
    -webkit-transition: @style;
    -moz-transition: @style;
    -o-transition: @style;
    -ms-transition: @style;
    transition: @style;
}

.s2k-transition(@val:none) {
    -webkit-transition: @val;
    -moz-transition: @val;
    -o-transition: @val;
    -ms-transition: @val;
    transition: @val;
}

#s2k-transition-time {
	.no(){
		.s2k-transition();
	}
	.short(){
		.s2k-transition-all(.2s);
	}
	.long(){
		.s2k-transition-all(1s);
	}
	.newrank(){
		.s2k-transition(top 2s ease-in-out);
	}
	.color(){
		.s2k-transition(color .2s ease-out);
	}
	.led(){
        .s2k-transition(~'opacity 1s, left 1s ease-in-out, right 1s ease-in-out');
	}
	.page(){
		.s2k-transition(left .5s ease-out);
	}
	.lightbox(){
		.s2k-transition(all .3s ease-in-out);
	}
	.meter(){
		.s2k-transition(~"width ease-out 3s, color ease-in-out 3s");
	}
}

// animation ------------------------------------------------------------------

#s2k-animation {
	.generic(@animation){
        -webkit-animation:@animation;
        -moz-animation:@animation;
        -o-animation:@animation;
        -ms-animation:@animation;
        animation:@animation;
	}
}

// transform ------------------------------------------------------------------

.s2k-transform(@val) {
    -webkit-transform: @val;
    -moz-transform: @val;
    -o-transform: @val;
    -ms-transform: @val;
    transform: @val;
}

#s2k-transform {
	.generic(@val){
		.s2k-transform(@val);
	}
	.lightbox(){
	    .s2k-transform(scale(0));
	}
}

.s2k-transform-origin(@val) {
    -webkit-transform-origin: @val;
    -moz-transform-origin: @val;
    -o-transform-origin: @val;
    -ms-transform-origin: @val;
    transform-origin: @val;
}

#s2k-transform-origin {
	.generic(@val){
		.s2k-transform-origin(@val);
	}
}

.s2k-transform-style(@val) {
    -webkit-transform-style: @val;
    -moz-transform-style: @val;
    -o-transform-style: @val;
    -ms-transform-style: @val;
    transform-style: @val;
}

#s2k-transform-style {
	.preserve3d(){
		.s2k-transform-style(~"preserve-3d");
	}
}

// perspective ----------------------------------------------------------------

.s2k-perspective(@val) {
    -webkit-perspective: @val;
    -moz-perspective: @val;
    -o-perspective: @val;
    -ms-perspective: @val;
    perspective: @val;
}

#s2k-perspective {
	.default(){
		.s2k-perspective(400);
	}
}

// shadow ---------------------------------------------------------------------

.s2k-shadow(@val:none) {
    -webkit-box-shadow: @val;
    -moz-box-shadow: @val;
    -ms-box-shadow: @val;
    -o-box-shadow: @val;
    box-shadow: @val;
}

#s2k-shadow {
	.none(){
		.s2k-shadow();
	}
	.led(){
    	.s2k-shadow(0 0 10px #fff);
	}
	.dialog(){
    	.s2k-shadow(0 0 10px #000);
	}
	.tab(){
    	.s2k-shadow(0 0 2px #000 inset);
	}
}

// reflection -----------------------------------------------------------------

.s2k-reflection(@val) {
    -webkit-box-reflect: @val;
    -moz-box-reflect: @val;
    -ms-box-reflect: @val;
    -o-box-reflect: @val;
    box-reflect: @val;
}

#s2k-reflection{
	.led(){
	    .s2k-reflection(below 2px);
	}
}

// border-radius --------------------------------------------------------------

.s2k-border-radius(@val:0) {
    -webkit-border-radius:@val;
    -moz-border-radius:@val;
    -o-border-radius:@val;
    -ms-border-radius:@val;
    border-radius:@val;
}

#s2k-border-radius {
	.none(){
		.s2k-border-radius();
	}
	.big(){
		.s2k-border-radius(5px);
	}
	.button(){
		.s2k-border-radius(5px);
	}
	.led(){
		.s2k-border-radius(5px);
	}
}

// box ------------------------------------------------------------------------

.s2k-box(@val) {
    -webkit-box-sizing:@val;
    -moz-box-sizing:@val;
    -o-box-sizing:@val;
    -ms-box-sizing:@val;
    box-sizing:@val;
}

#s2k-box{
	.border(){
    	.s2k-box(border-box);
	}
}

// flexbox --------------------------------------------------------------------


.s2k-flexbox-pack(@val) {
    -webkit-box-pack:@val;
    -moz-box-pack:@val;
    -o-box-pack:@val;
    -ms-box-pack:@val;
    box-pack:@val;
}
.s2k-flexbox-align(@val) {
    -webkit-box-align:@val;
    -moz-box-align:@val;
    -o-box-align:@val;
    -ms-box-align:@val;
    box-align:@val;
}
.s2k-flexbox-orient(@val) {
    -webkit-box-orient: @val;
    -moz-box-orient: @val;
    -o-box-orient: @val;
    -ms-box-orient: @val;
    box-orient: @val;
}
.s2k-flexbox-flex(@val:0) {
    -webkit-box-flex: @val;
    -moz-box-flex: @val;
    -o-box-flex: @val;
    -ms-box-flex: @val;
    box-flex: @val;
}

#s2k-flexbox{
	.display(){
		display: -webkit-box;
		display: -moz-box;
		display: -o-box;
		display: -ms-box;
		display: box;
	}

	.pack {
		.start(){
		    .s2k-flexbox-pack(start);
		}
		.justify(){
		    .s2k-flexbox-pack(justify);
		}
		.center(){
		    .s2k-flexbox-pack(center);
		}
		.end(){
		    .s2k-flexbox-pack(end);
		}
	}
	.align {
		.end(){
			.s2k-flexbox-align(end);
		}
	}

	.orient{
		.vertical(){
			.s2k-flexbox-orient(vertical);
		}
	}

	.box-flex-none(){
		.s2k-flexbox-flex();
	}
	.box-flex-one(){
		.s2k-flexbox-flex(1);
	}
	.box-flex-two(){
		.s2k-flexbox-flex(2);
	}
}

// gradient -------------------------------------------------------------------

.s2k-gradient(@val1,@val2) {
    background:(@val1 + @val2 ) / 2;
    background:-webkit-gradient(linear, left top, left bottom, from(@val1), to(@val2));
    background:-moz-linear-gradient(top, @val1, @val2);
    background:-ms-linear-gradient(top, @val1, @val2);
    background:-o-linear-gradient(top, @val1, @val2);
    background:linear-gradient(top, @val1, @val2);
}
.s2k-gradient-diagonal(@val1,@val2) {
    background:(@val1 - @val2 ) / 2;
    background:-webkit-gradient(linear, 0 0, 100% 100%, from(@val1), color-stop(.35,@val2), color-stop(.65,@val2), to(@val1));
    background:-moz-linear-gradient(left top, @val1, @val2 35%, @val2 75%, @val1);
    background:-ms-linear-gradient(left top, @val1, @val2 35%, @val2 75%, @val1);
    background:-o-linear-gradient(left top, @val1, @val2 35%, @val2 75%, @val1);
    background:linear-gradient(left top, @val1, @val2 35%, @val2 75%, @val1);
}
.s2k-gradient-radial(@val1,@val2) {
    background:(@val1 - @val2 ) / 2;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 635, from(@val1), to(@val2));
    background: -webkit-radial-gradient(@val1, @val2);
    background: -moz-radial-gradient(50% 50% 0deg,circle cover, @val1, @val1, @val2 100%);
    background: -o-gradient(radial, 50% 50%, 0, 71% 19%, 203, from(@val1), color-stop(0.9, @val1), to(@val2));
    background: -ms-gradient(radial, 50% 50%, 0, 71% 19%, 203, from(@val1), color-stop(0.9, @val1), to(@val2));
    background: gradient(radial, 50% 50%, 0, 71% 19%, 203, from(@val1), color-stop(0.9, @val1), to(@val2));
}

#s2k-gradient {
	.toolbar(){
	    .s2k-gradient(#333,#000);
	}
	.button(){
	    .s2k-gradient(@s2k-green,darken(@s2k-green, 20%));
	}
	.buttonhi(){
	    .s2k-gradient(@s2k-button-hi,darken(@s2k-button-hi, 20%));
	}
	.button2(){
	    .s2k-gradient(@s2k-lightgrey,darken(@s2k-lightgrey, 20%));
	}
	.button3(){
	    .s2k-gradient(darken(@s2k-lightgrey, 20%),darken(@s2k-lightgrey, 40%));
	}
	.cancel(){
	    .s2k-gradient(darken(@s2k-red, 20%),darken(@s2k-red, 40%));
	}
	.tab(){
	    .s2k-gradient(@s2k-darkgreen,@s2k-green);
	}
	.tabhi(){
	    .s2k-gradient(@s2k-green,@s2k-darkgreen);
	}
	.dialog(){
	    .s2k-gradient(rgba(51,51,51,.95),rgba(17,17,17,.95));
	}
	.box(){
		.s2k-gradient-diagonal(#555,#111);
	}
	.feed(){
		.s2k-gradient-radial(#252525,#121212);
	}
	.logo(){
		@gradient-start:#333333;
		@gradient-stop-1:#3C3C3C;
		@gradient-stop-2:#545454;
		@gradient-stop-3:#7C7C7C;
		@gradient-stop-4:#9C9C9C;
		@gradient-end:#3D3D3D;
		background:(@gradient-start - @gradient-end ) / 2;
		background:-webkit-gradient(linear, right bottom, left top, from(#333333), color-stop(0.08, #3C3C3C), color-stop(0.22, #545454), color-stop(0.39, #7C7C7C), color-stop(0.52, #9C9C9C), to(#3D3D3D));
		background:-moz-linear-gradient(135deg, @gradient-start, @gradient-stop-1 8%, @gradient-stop-2 22%, @gradient-stop-3 39%, @gradient-stop-4 52%, @gradient-end);
		background:-ms-linear-gradient(135deg, @gradient-start, @gradient-stop-1 8%, @gradient-stop-2 22%, @gradient-stop-3 39%, @gradient-stop-4 52%, @gradient-end);
		background:-o-linear-gradient(135deg, @gradient-start, @gradient-stop-1 8%, @gradient-stop-2 22%, @gradient-stop-3 39%, @gradient-stop-4 52%, @gradient-end);
		background:linear-gradient(135deg, @gradient-start, @gradient-stop-1 8%, @gradient-stop-2 22%, @gradient-stop-3 39%, @gradient-stop-4 52%, @gradient-end);
	}
}

// font -----------------------------------------------------------------------

.s2k-font(@val) {
	font-family:@val;
}

#s2k-font {
	.Helvetica(){
	    .s2k-font(~'Helvetica,Arial,Verdana,sans-serif');
	}
	.HelveticaNeue(){
	    .s2k-font(~'"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif');
	}
}