<section id="content" class="solo text">
  <aside>
      <article>
        <hgroup>
            <h1 class="h1">{{locales.guide.app.h1}}</h1>
        </hgroup>
        <p>{{locales.guide.app.text1}}</p>
        <p>{{locales.guide.app.text2}}</p>
        <p>{{locales.guide.app.text3}}</p>
        <p>{{locales.guide.app.text4}}</p>
        <p>{{locales.guide.app.text5}}</p>
    </article>
    <article>
        <hgroup>
            <h1 class="h1">{{locales.guide.league.h1}}</h1>
        </hgroup>
        <p>{{locales.guide.league.text1}}</p>
        <p>{{locales.guide.league.text2}}</p>
        <p>{{locales.guide.league.text3}}</p>
        <ul>
            <li>{{locales.guide.league.li1}}</li>
            <li>{{locales.guide.league.li2}}</li>
            <li>{{locales.guide.league.li3}}</li>
        </ul>
        <p>{{locales.guide.league.text4}}</p>
        <p>{{locales.guide.league.text5}}</p>
    </article>
    <article>
        <hgroup>
            <h1 class="h1">{{locales.guide.rating.h1}}</h1>
        </hgroup>
        <p>{{locales.guide.rating.text1}}</p>
        <p>{{locales.guide.rating.text2}}</p>
      </article>
  </aside>
</section>

